
.typewriterbasics {
    background-color: rgba(0, 0, 0, 0);
    font-family:'Courier New', Courier, monospace;
    color: white;
}

@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}