.App {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  justify-content: flex-start; /* Start from the top */
  gap: 40px; /* Adjust the spacing between items as needed */
  background-color: rgb(22, 22, 40);}

.left-align {
  text-align: center;
  margin: 0 10%; /* 5% margin on both left and right sides */
  font-size: 20px;
  margin-top: 0px;
  margin-bottom: 100px;}
  
.images_settings {
  display: flex;
  margin-top: 50px;
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Start from the top */
  gap: 40px; /* Adjust the spacing between items as needed */
  background-color: rgba(255, 181, 219, 0);}

.appnamemain {
    max-width: 100%; /* Ensure the container doesn't exceed the viewport whttp://localhost:3000/static/media/fullstackdevo.d4b2d47a7b1715f7a4fd.pngidth */
    margin: 0 auto; /* Center the container horizontally (optional) */
    position: center;
    margin-top: -50px;
  }
  
  .fulldevo {
    max-width: 90%; /* Ensure the container doesn't exceed the viewport width */
    margin: 0 auto; /* Center the container horizontally (optional) */
    position: center;
    margin-top: -260px;
    margin-bottom: 0px;
  }
