.contactbasics{
    background-color: rgb(22, 22, 40);
    height: 400px;
}
.contactgrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* One column for the first component */
    grid-template-rows: 1fr 1fr 1fr 2fr; /* Two rows, first row takes 1/4, second row takes 3/4 */
    margin-top: 20px;
    gap: 20px; /* Gap between rows and columns */
}

.texttop{
    grid-column: -1/1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-weight: 600;
}

.textunder{
    grid-column: -1/1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    margin-top: 100px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
}


.textbasicsettings{
    align-self: center;
    justify-self: center;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
}
  .linkedin{
    grid-row:2;
    grid-column: 1;
  }
  .X{
    grid-row:2;
    grid-column: 2;
  }

  .linksettings{
    color:rgb(255, 202, 145)
  }

  .github{
    grid-row:2;
    grid-column:3;
  }

  .emailsettings{
    grid-column: -1/1;
    grid-row: 3;
    align-self: center;
    justify-self: center;
    margin-top: 30px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family:'Courier New', Courier, monospace;
    font-weight: 400;
}